<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <section name="RegisteredTeams" type="MatchdataReservationHelper.RegisterTeamsConfig, MatchdataReservationHelper" />
  </configSections>
  <RegisteredTeams>
    <Teams>
      <Team name="Herren 1" swissVolleyName="VBC Malters " sex="m" league="1L" group="Gruppe C"></Team>
      <Team name="Herren 2" swissVolleyName="VBC Malters 2" sex="m" league="3L" group="Gruppe B"></Team>
      <!--<Team name="Herren 3" swissVolleyName="VBC Malters 3" sex="m" league="3L" group="Gruppe A"></Team>-->

      <Team name="Damen 1" swissVolleyName="VBC Malters 1" sex="f" league="3L" group="Gruppe A"></Team>
      <Team name="Damen 2" swissVolleyName="VBC Malters 2" sex="f" league="4L" group="Gruppe D"></Team>
      <!--<Team name="Damen 3" swissVolleyName="VBC Malters 3" sex="f" league="5L" group="Gruppe B"></Team>-->

      <Team name="Juniorinnen 1" swissVolleyName="VBC Malters 1" sex="f" league="U23 2.Liga" group="Gruppe B"></Team>
      <Team name="Juniorinnen 2" swissVolleyName="VBC Malters 2" sex="f" league="U23 3.Liga" group="Gruppe A"></Team>
      <!--<Team name="Juniorinnen 3" swissVolleyName="VBC Malters 2" sex="f" league="U23 4.Liga" group="Gruppe B"></Team>-->

      <Team name="Junioren 1" swissVolleyName="VBC Malters " sex="m" league="U23 1L" group="Gruppe A"></Team>
      <!--<Team name="Junioren 2" swissVolleyName="VBC Malters 2" sex="m" league="U23 2L" group="Gruppe B"></Team>-->
    </Teams>
  </RegisteredTeams>
  <appSettings>
    <add key="PreperingTimeInHours" value="1.0" />
    <add key="AverageMatchTimeInHours" value="2.0" />
    <add key="DateTimeIndex" value="6" />
    <add key="HallIndex" value="15" />
    <add key="HomeTeamIndex" value="11" />
    <add key="LeagueIndex" value="1" />
    <add key="AwayTeamIndex" value="13" />
    <add key="GroupIndex" value="4" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>